@media (max-width: 610px) {
    nav {
        padding: 0 20px;
    }

    .menu {
        display: block;
    }

    .nav-icon {
        display: none;
    }

    .nav-link {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        padding: 30px;
        background-image: url("../image/istockphoto-697478750-612x612.jpg");
        opacity: 1;
        /* display: none; */
        transition: all 0.6s ease-in-out;
        transform: translateY(-160%);
    }
    .show{
        /* display: block; */
        transform: translateX(0);
    }
    .nav-link:last-child{
        margin-bottom: 0;
    }

    .nav-link a {
        opacity: 1;
        color: black;
        display: block;
        text-align: center;
        width: fit-content;
        margin-bottom: 5px;
        margin-left: auto;
    }
    .banner .text-group{
        padding: 0px 30px;
        /* background: #af7474; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
  

    .banner img{
        width: 200px;
        height: 150px;
        padding: 0;
        margin: 0;
        border-radius: 90%;
        opacity: 0.9;   
    }
    .banner .img{
        display: flex;
        align-items: flex-start;
    }
    .banner h1{
        font-size: 1.1rem;
    }
    .banner p {
            font-size: 0.8rem;
        }
    .btn-primary{
             border-radius: 15px;
             border: none;
             cursor: pointer;
             box-shadow: inset 0 0 0 2px rgb(145, 63, 63);
             color: rgb(236, 204, 165);
             width: 60px;
             height: 20px;
             text-align: center;
             line-height: 20px;
             background: #461d0f;
             font-size: 0.5rem;       
}
    .banner div{
        height: 270px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    header{
        background: #c51a1a;
        height: 350px;
        width: 100%;
    }
       
     .mb1 {
            background: #50911e;
            text-align: center;
            padding: 20px 0;
            height: 100px;
            width: 100%;
           
        }
    
        .mb1 h1 {
            font-size: 1rem;
            margin: 6px 0;
        }
   .mb1 p{
    font-size: 0.7rem;
   }
   .mb2{
        height: 200px;
   }
}

